MONGODB_URI=mongodb+srv://gabrielanibaldi_db_user:<db_password>@cluster0.uv9atby.mongodb.net/norte_suplementos?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB=norte_suplementos
ADMIN_TOKEN=cambia-esta-clave
VITE_WHATSAPP_NUMBER=5491161962382
